$white-faded: #cac7c781;
$bg-white: #cac7c72c;

$bg: #121212;
$card-bg: #181818;
$card-bg-selected: #282828;

$text: #eeeeee;
$text-faded: #cac7c7e3;
$text-dark: $bg;

$sp-green: #1bc559;

@mixin line-clamp($lines: 1) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    @supports (-webkit-line-clamp: $lines) {
        white-space: initial;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $lines;
        line-clamp: $lines;
    }
}
