@use './vars';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    display: block;
    color: inherit;
    font: inherit;
    text-decoration: none;
}

input[type='checkbox'] {
    appearance: none;
    font: inherit;
    color: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    color: vars.$text;
    background: vars.$bg;

    padding: 1.5em 1.5em 0 1.5em;
}

main {
    display: flex;
    flex-flow: column;
    gap: 1em;
}

h1 {
    font-size: 1.6em;
    font-weight: 700;
    color: vars.$text-faded;
}

h2 {
    font-size: 1rem;
    font-weight: 700;
}

h3 {
    font-size: 1rem;
    font-weight: 600;
}

.sub {
    color: vars.$text-faded;
    font-weight: 500;
    font-size: 0.9rem;

    &.--small {
        font-weight: 600;
        font-size: 0.8rem;
    }

    &.--large {
        font-weight: 400;
        font-size: 1rem;
    }
}
